<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout/cms/login_layout">

<th:block layout:fragment="html_head">
	<title>cms :: login</title>
</th:block>

<th:block layout:fragment="add_lib_css">

</th:block>

<th:block layout:fragment="custom_css">
	<link rel="stylesheet" th:href="@{/css/cms/login.css}" />
</th:block>

<th:block layout:fragment="content_body">
	<div class="container">
		<div class="row" id="pwd-container">
			<div class="col-md-4"></div>

			<div class="col-md-4">
				<section class="login-form">
					<form id="login-form" method="post" action="#" role="login" onsubmit="return loginSubmit();">
						<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
						<input type="hidden" name="loginRedirect" th:value="${loginredirectname}" />
						<input type="hidden" name="securityexceptionmsg" th:value="${securityexceptionmsg}">
						 
						<!-- <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" /> --> 
						<input type="text" name="userId" id="userId" class="form-control input-lg" placeholder="userId" required="required" autofocus="autofocus" th:value="${userId}" /> 
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" required="required" th:value="${password}" />
						
						<ul th:if="${securityexceptionmsg}">
							<li><span style="color: #d52929;">아이디 또는 비밀번호가 맞지않습니다.</span></li>
						</ul>
						
						<div class="pwstrength_viewport_progress"></div>
						<button type="submit" name="go" id="login-btn" class="btn btn-lg btn-primary btn-block">Sign in</button>
						<div>
							<a href="#">Create account</a> or <a href="#">reset password</a>
						</div>
					</form>

					<div class="form-links">
						<a href="#">www.website.com</a>
					</div>
				</section>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="custom_js">
	<script th:src="@{/js/cms/loginPwstrength.js}"></script>
	<script type="text/javascript">
		$(function() {
			$("footer.sticky-footer").css("width", "100%");
			
			$("#login-btn").on("click", function() {
				loginSubmit();
			});
		});
		
		function loginSubmit() {
			if(gfn_isNull($("#userId").val())) {
				return false;
			}
			if(gfn_isNull($("#password").val())) {
				return false;
			}
			
			$("#login-form").attr("method", "post");
			$("#login-form").attr("action", "/cms/login/process");
			return true;
		}
	</script>
</th:block>

</html>