<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="mainLayout">
<head>
	<meta charset="UTF-8"/>
	<title>로그인</title>
</head>
<body>
	<div class="container">
		<form class="login-form" method="POST">
			<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
			<div class="row">
				<div class="input-field col s12">
					<input id="userId" type="text" name="userId" class="validate" /> 
					<label for="userId">id</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" name="password" class="validate" /> 
					<label for="password">Password</label>
				</div>
			</div>
			<input class="login-btn waves-effect waves-light btn" type="submit"	value="로그인" />
		</form>
	</div>
</body>
</html>