<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/cms/cms_layout">
	
<th:block layout:fragment="html_head">
	<title>cms :: main</title>
</th:block>	

<th:block layout:fragment="add_lib_css">

</th:block>

<th:block layout:fragment="custom_css">
	<style type="text/css">
		/* Chart.js */
		@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
	</style>
</th:block>

<th:block layout:fragment="content_body">
	<div class="content-wrapper">
		<div class="container-fluid">
			<span sec:authentication="name"></span>
			
			<div>[(${#httpServletRequest.requestURI})]</div>
			
			<input type="text" th:value="${#httpServletRequest.requestURI}"/>
			
			<div th:with="value1='1111', value2=false" th:text="|${value1}, ${value2}|"></div>
			
			<div th:with="uri=${#httpServletRequest.requestURI}">
				<div th:if="${#strings.substring(uri, 1, 4) == 'cms'}" th:text="cms페이지"></div>
			</div>
			
			<p th:text="${#dates.createNow()}"></p>
			
			<p th:text="${currentUri}"></p>
			<p th:text="${today}"></p>
			
			
		</div><!-- /.container-fluid-->
	</div><!-- /.content-wrapper-->
</th:block>

<th:block layout:fragment="custom_js">
	
</th:block>

</html>
