<!-- Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>

<!-- 기본적인 html head 추가부 -->
<th:block layout:fragment="html_head"></th:block>

<!-- Css lib -->
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

<!-- Etc Add on Lib -->
<th:block layout:fragment="add_lib_css"></th:block>

<!-- Css custom -->