<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>회원가입</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<form class="signup-form" action="/cms/admin" method="POST">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div class="row">
				<div class="input-field col s12">
					<input id="user_id" name="userId" type="text" class="validate" /> 
					<label for="user_id">Id</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="email" name="email" type="email" class="validate" /> 
					<label for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="password" type="password" class="validate" />
					<label for="password">Password</label>
				</div>
			</div>
			<input class="signup-btn waves-effect waves-light btn" type="submit" value="가입하기" />
		</form>
	</div>
</body>
</html>