<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="cmsBody" class="fixed-nav sticky-footer bg-dark" id="page-top">
	<th:block th:include="fragments/cms/navbar"></th:block>
	<th:block layout:fragment="content_body"></th:block>
	<th:block th:include="fragments/cms/footer"></th:block>
	
	<th:block th:include="fragments/cms/common/c_body_script"></th:block>

	<th:block layout:fragment="custom_js"></th:block>
</body>
</html>